<section class="cart_area padding_top">
    <div class="container">
      <form [formGroup]="basketForm">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products">
                <td>
                  <a (click)="delete(item);" href="/sepet" class="btn btn-danger">sil</a>
                </td>
                <td>
                 
                  <div class="media">
                    <div class="d-flex">
                      <img [src]="createImgPath(item.productImage)" alt="product" style="height: 100px; width:147px;">
                    </div>
                    <div class="media-body">
                      <p>{{item.productName}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>${{item.productPrice}}</h5>
                </td>
                <td>
                  <div class="product_count">
                    <span class="input-number-decrement"> <i class="ti-angle-down"></i></span>
                    <input class="input-number" type="text" formControlName="quant{{item.productId}}" value="1" min="0" max="10">
                    <span class="input-number-increment"> <i class="ti-angle-up"></i></span>
                  </div>
                </td>
                <td>
                  <h5>${{item.productPrice*quantity[item.productId]}}</h5>
                </td> 
              </tr>
        
             
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5>${{2160.00}}</h5>
                </td>
              </tr>
           
            </tbody>
          </table>
          <a href="#" class="genric-btn primary circle float-right">Siparişi Tamamla</a>
        </div>
      </div>
    </form>
  </div></section>